<div class="row">
    <div class="col-md-4">
        <input type="button"  value="Create Expense" ui-sref="expense.create" class="form-control"/>
        <div ui-view></div>
    </div>
</div>

<table class="table">
    <tr>
        <th>Head</th>
        <th>Amount</th>
        <th>Detail</th>
        <th>Date</th>

    </tr>
    <tr ng-repeat="expense in expenses">
        <td>
            <span  >{{ expense._head.name }}</span>
            <!--<input type="text" ng-show="expense.isEditing" name="editHead" ng-model="expense.name"  />-->
            <!--<input type="button" ng-show="head.isEditing" value="Save" ng-click="saveHead($index)" class="pull-right"/>-->
            <!--<input type="button" ng-show="!head.isEditing" value="Edit" ng-click="editHead($index)" class="pull-right"/>-->
            <!--<input type="button" ng-show="head.isEditing" value="Delete" ng-click="deleteHead($index)" class="pull-right"/>-->
        </td>
        <td>
            <span >{{ expense.amount }}</span>
        </td>
        <td>
            <span >{{ expense.detail }}</span>
        </td>
        <td>
            <span  >{{ expense.date}}</span>
        </td>

    </tr>
</table>