<form class="well">

    <select class="form-control" ng-model="newExpense._head" ng-options="head._id as head.name for head in heads">

        <option value="">Select Head</option>
    </select>
    <br/>
    <div class="form-group">
        <label class="sr-only" for="newExpense_amount">Amount (in dollars)</label>
        <div class="input-group">
            <div class="input-group-addon">$</div>
            <input type="number" class="form-control" ng-model="newExpense.amount" id="newExpense_amount" placeholder="Amount">
            <div class="input-group-addon">.00</div>
        </div>
    </div>
    <input type="text" name="newExpense_detail" ng-model="newExpense.detail" class="form-control"  placeholder="Details"/>
    <br />
    <input type="date" name="newExpense_date" ng-model="newExpense.date" class="form-control" />
    <br />

    <input type="button" value="Save" ng-click="addExpense()" class="form-control btn btn-primary "/>
</form>
<br/>