{{heads|json}}

<form class="well">
    <input type="text" name="newHead" ng-model="newHead" placeholder="e.g Maintenance" />
    <br /><br/>
    <input type="button" value="Add Head" ng-click="addHead()" />
</form>
<br/>
<table class="table">
    <tr ng-repeat="head in heads">
        <td>
            <span ng-show="!head.isEditing" >{{ head.name }}</span>
            <input type="text" ng-show="head.isEditing" name="editHead" ng-model="head.name"  />
            <input type="button" ng-show="head.isEditing" value="Save" ng-click="saveHead($index)" class="pull-right"/>
            <input type="button" ng-show="!head.isEditing" value="Edit" ng-click="editHead($index)" class="pull-right"/>
            <input type="button" ng-show="head.isEditing" value="Delete" ng-click="deleteHead($index)" class="pull-right"/>
        </td>



    </tr>
</table>